.list li {
    float: left;
    padding-top: 6px;
    padding-right: 150px;
    list-style: none;
}

.tombol {
    padding-left: 20px;
}

.header {
   background-color: #efefef;
}

.img {
    height: auto;
    width: auto;
}

h4 {
    padding-top: 20px;
    padding-left: 50px;
}

.judul {
    font-size: 20px;
}

.gambar {
    height: 500px;
    width: 500px;
}

.about {
    border-right: 1px solid black;
}

/* .fixed {
    position: fixed;
} */