.Container 
  font-family: monospace
  font-weight: bold
  font-weight: 200
  font-size: medium
  display: flex
  flex-direction: row
  place-items: center
  color: #0e0720
  max-width: 1000px
  max-height: fit-content


.Inherit 
  h1 
    margin: 1rem 6rem
    font-size: 20px
  p 
    font-size: 16px
