.body-gil
  display: grid
  height: 100vh
  grid-template: auto 1fr auto / auto 1fr auto
  font-family: system-ui, sans-serif


.sidebarLeft-gil 
  grid-column: 1 / 2
  padding: 1rem


.sidebarRight-gil 
  grid-column: 3 / 4
  padding: 1rem

