.div-container{
    background-color: #41584b;
    padding-top: 5%;
    padding-bottom: 20%;
    padding-left: 10%;

    h3 {
        align-self: center;
        margin-bottom: 20px;
        color: #efd9d1;
    }

    Label {
        color: #efd9d1;
        font-weight: 600;
    }

    .buttony {
        margin-top: 15px;
        margin-left: 35%;
        background-color: #efd9d1;
        color: #7e7474;
    }
}