img {
    width: 100%;
    height: 100%;
}
.searchBTN{
    background-color: #d4452d !important; 
    color: #f1f2ed !important;
    border-color: #d4452d;
    margin-right:10px;
    width: 20px;
    height: 5%;
  }
  .btnIMG{
    position: relative;
    width: 10px;
    height: 5%;
  }
  .submitBTN{
    background-color: #000000 !important; 
    color: #f1f2ed !important;
    width: 75px;
    height: 5%;
  }
  body{
    flex: 1;
  }
  .text-dark{
    margin-left: -115px;
  }
  .text-muted {
    margin: 20px;
  }
  .aboutMe {
      padding:70px;
  }
.iwaE {
    padding: 400px;
    top: -800px;
}