
.zContainer {
    display: flex;
    margin-top: 100px;
    font-family: Roboto, sans-serif;
}
.zLeftPanel {
    width: 300px;
    padding: 0 20px 20px 30px;
    margin: 20px 20px 20px 0;
}
.zLeftPanel img {
    width: 220px;
    height: 180px;
    margin: 20px 0 5px;
    border-radius: 10px;
}
.zLeftPanel h5 {
    margin: 10px 0 20px;
    font-family: Roboto, sans-serif;
    font-weight: 300;

}
.zLeftPanel h4 {
    margin-bottom: 0px;
}
.zLeftPanel .occ {
    color: gray;
}
.zRightPanel {
    flex: auto;
    padding: 0 40px 0 40px;
    margin: 35px 0;
    border-left: 1px solid rgb(161, 161, 161);
}
.zRightPanel h1 {
    margin-bottom: 20px;
}
.zRightPanel img {
    height: 550px;
    margin-bottom: 30px;
}
.zRightPanel p {
    font-family: Roboto, sans-serif;
    font-weight: 300;
}