@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500;600&display=swap');

html {
    max-width: 100%;
    overflow-x: hidden;
}

.medium-logo {
    width: 60px;
}

.abu {
    color: #6c757d;
}

.kiri {
    margin-top: 10px;
    margin-left: 10px;
}

.kanan {
    margin-top: 10px;
    margin-right: 10px;
}

.raleway {
    font-family: "Raleway";
    font-weight: bold;
}

.first-huruf {
    
    font-size: 40px;
}

.footer {
    color: #f8f9fa;
    background-color: #343a40;
}

.desc {
    font-size: 10px;
}