.operator {
    background-color: #c9cbff;
    height: 1000px;

        h1 {
            margin-left: 38%;
        }
        h3 {
            text-align: center;
        }
        .bttn1 {
            margin-left: 48%;
            padding-left: 10px;
            padding-right: 10px;
        }
        .bttn2 {
            padding-left: 8px;
            padding-right: 8px;
        }

}