.image {
    width: 60%;
    height: 35%;
    margin-left: 20%;
    margin-bottom: 5%;
}

.image2 {
    width: 80%;
    height: 20%;
    margin-left: 10%;
    margin-top: 30%;
}

.button {
    margin-left: 250px;
}

.navbar {
    margin-bottom: 30px;
    margin-left: 10%;
}

h6 {
    text-align: center;
}

h5 {
    margin-left: 20%;
}

p {
    margin-left: 10%;
}

h2 {
    margin-left: 15%;
}

h1 {
    margin-left: 10%;
}