.scss-card {
    background-color: #f1ae89;
    margin-bottom: 25px;
    margin-left: 270px;
    margin-top: 30px;
    width: 750px;

    h3 {
        color: #fff3b2;
        text-align: center;
    }
    p {
        width: 80%;
        color: #41584b;
        font-size: medium;
        text-align: center;
    }
    .butt {
        margin-left: 46%;
        background-color: #fff3b2 ;
        border-color: #fff3b2;
        margin-bottom: 10px;
    }
}
.rowy {
    background-color: #ffeadb;
}