/* .contain img {
    width: 100%;
    height: 100%;
} */

.button-reactstrap {
    background-color: red;
    color: black;
    border: 0;
    margin: 50px;
    padding: 50px;
    font-weight: 800;
    font-size: 25px;
}

.button-reactstrap:hover {
    background-color: pink;
    color: yellow;
}

.btns {
    background-color: green;
}

.gambars {
    width: 100% !important;
}