.sass-div
    background-color: green
    h1
        font-weight: 100
    p
        background-color: yellow
    button
        border-radius: 50%

@media (max-width: 768px)
    .sass-div
        background-color: red
        display: flex
        h1
            font-weight: 600
            margin: 0 auto

@media (max-width: 400px)
    .sass-div
        background-color: blue
        display: block
        h1
            font-weight: 300
            margin: 0 auto
        button
            border-radius: 5px
            color: red
            background-color: yellow
