.scss-div {
    background-color: pink;

    h3 {
        color: blue;
        text-decoration: underline;
    }

    input {
        border-style: dotted;
        width: 1000px;
        color: purple;
    }
}

.row-center {
    margin: 0 auto;
}

// .scss-div h3 {
//     color: blue;
//     text-decoration: underline;
// }

// @media (max-width: 768px) {
//     .sass-div {
//         background-color: red;
//         display: flex;

//         h1 {
//             font-weight: 600;
//             margin: 0 auto;
//         }

//     }
// }

// @media (max-width: 400px) {
//     .sass-div {
//         background-color: blue;
//         display: block;

//         h1 {
//             font-weight: 300;
//             margin: 0 auto;
//         }

//         button {
//             border-radius: 5px;
//             color: red;
//             background-color: yellow;
//         }

//     }
// }