.Parent {
    font-family: serif;
    font-weight: 200;
    font-size: medium;
    display: flex;
    flex-direction: column;
    background-color: teal;
  }

  .Child > h1 {
    color:rgb(141, 18, 18);
    font-size: 25px;
    font-size: bold;
    font-family: fantasy;
    text-align: center;   
  }

  .Child > p {
    color: rgb(159, 185, 66);
    font-family: fantasy; 
    font-weight: bold;
    text-align: center;
    font-size: 16px;
  }